{% extends "base.html" %}

{% block tabs %}

    <ul class="tabs">
        <li class="tab is-active btn btn-dark">
            <a data-switcher data-tab="1">Wykres parametrów DOP co 10 min</a>
        </li>
        <li class="tab btn btn-dark">
            <a data-switcher data-tab="2">Wykres elewacji co 10 min</a>
        </li>
        <li class="tab btn btn-dark">
            <a data-switcher data-tab="3">Wykres liczby satelitów co 10 min</a>
        </li>
        <li class="tab btn btn-dark">
            <a data-switcher data-tab="4">Wykres widocznych satelitów co godzinę</a>
        </li>
        <li class="tab btn btn-dark">
            <a data-switcher data-tab="5">Groundtrack satelitów</a>
        </li>
    </ul>

{% endblock %}

{% block content %}

    <div class="pages">
        <div class="page is-active" data-page="1">
            <div id="DOPS" class="charts"></div>
            <script>
                var minutes = {{ minutes | safe }};
                var dops = {{ dops | safe }};
                var colors = randomColors(dops.length);
                var labels = ['GDOP', 'PDOP', 'TDOP', 'HDOP', 'VDOP'];
                dopsPlotly('DOPS', minutes, dops, colors, dops.length, labels);
            </script>
        </div>

        <div class="page" data-page="2">
            <div id="ELEV" class="charts"></div>
            <input type="range" oninput="changeElevPlot(this)" class="form-range w-75" min="1" max="{{ el_length }}" step="1" id="sliderElev" value="1">
            <label for="sliderElev" class="text-right" style="width: 15px;" id="elevNr"></label>
            <script>
                var elev_js = {{ elev | safe }};
                arr = []
                var min = {{ minutes | safe }}
                var nr = elev_js.length;
                randomColor = randomColors(nr);

                elevPlotly('ELEV', min, elev_js, randomColor, 1);
                document.getElementById('elevNr').innerHTML = 'Liczba satelitów: 1';

                function changeElevPlot(range) {
                    elevPlotly('ELEV', min, elev_js, randomColor, range.value);
                    document.getElementById('elevNr').innerHTML = 'Liczba satelitów: ' + (range.value).toString();
                }
            </script>
        </div>
        <div class="page" data-page="3">
            <div id="sat-nr" class="charts"></div>
            <script>
                var min = {{ minutes | safe }};
                var sat_nr = {{ sat_nr | safe }};

                satNrPlotly('sat-nr', min, sat_nr);
            </script>
        </div>
        <div class="page" data-page="4">
            <div id="tester" class="charts">
            </div>
            <div class="text-center">
                <input type="range" oninput="changeSkyPlot(this)" class="form-range w-75" min="0" max="24" step="1" id="sliderSky" value="0">
                <label for="sliderSky" class="text-right" style="width: 15px;" id="time"></label>
            </div>
            <script>
                    var el = {{ el_sky }}; 
                    var az = {{ az_sky }};
                    var id ={{ sat_name_hour }};

                    skyPlotly(el, az, id, 0);
                    document.getElementById('time').innerHTML = 'Godzina: ' + 0 + ':00:00';

                    function changeSkyPlot(range) {
                        skyPlotly(el, az, id, range.value);
                        document.getElementById('time').innerHTML = 'Godzina: ' + (range.value).toString() + ':00:00';
                    }
            </script>
        </div>
        <div class="page" data-page="5">
            <div id="ground" class="charts"></div>
            <script>
                var lat = {{ lat | safe }};
                var lon = {{ lon | safe }};
                groundtrack('ground', lat, lon);
            </script>
        </div>
    </div>

{% endblock %}