{% extends "base.html" %}

{% block content %}

<div style="padding: 3%;">
<h1>Satpos - twój portal o satelitach</h1>

<p>Satpos jest aplikacją webową, dzięki której możesz poznać aktualne informacje na temat satelitów. Po wprowadzeniu odpowiednich danych twoim oczom ukarzą się wykresy wizualizujące dane 
takie jak parametry DOP satelitów czy przebieg orbity satlity nad kulą ziemską. Danymi wejściowymi programu są maska obserwacji, data pomiaru, współrzędne geodezyjne stanowiska pomiarowego 
oraz almanach pobrany na dysk użytkownika. Możliwa jest również opcja automatycznego pobrania najnowszego almanachu ze strony <a href="https://celestrak.com/">celestrak.com</a> - w tym celu należy zaznaczyć ptaszek 
przy polu "Wczytaj najnowszy almanach". Po przekazaniu poprawnych danych, program jest gotowy do rysowania wykresów. Wykresy rysowane są dla całej doby. Powstałe wykresy można zapisać na dysku użytkownika.</p>
<p>Witryna powstała jako projekt przygotowany na przedmiot Systemy Nawigacji Satelitarnej na kierunku Geoinformatyka na Politechnice Warszawskiej. Do stworzenia strony wykorzystano język python(biblioteka Flask) 
jako Back-end oraz html, css i javascript(biblioteka Plotly) jako Front-end.</p>
</div>

{% endblock %}